<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <!--path>/</path-->
            <!--max-age>-1</max-age-->
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>RsxTest</web-resource-name>
            <description/>
            <url-pattern>/controller/*</url-pattern>
            <url-pattern>/lib/*</url-pattern>
            <url-pattern>/script/*</url-pattern>
            <url-pattern>/view/*</url-pattern>
            <url-pattern>/resources/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>customer</role-name>
        </auth-constraint>
        <!--user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint-->
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/welcome.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>customer</role-name>
    </security-role>
    <ejb-local-ref>
        <ejb-ref-name>DriverUndertakesRideControllerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.driver.DriverUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#DriverUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerControllerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.customerprofile.CustomerControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#CustomerControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerControllerBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.customerprofile.CustomerControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#CustomerControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DriverUndertakesRideControllerBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.driver.DriverUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#DriverUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerControllerBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.customerprofile.CustomerControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#CustomerControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DriverUndertakesRideControllerBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.driver.DriverUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#DriverUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DriverUndertakesRideControllerBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.driver.DriverUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#DriverUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DriverUndertakesRideControllerBean4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.driver.DriverUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#DriverUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RiderUndertakesRideControllerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.rider.RiderUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RiderUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RiderUndertakesRideControllerBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.rider.RiderUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RiderUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RiderUndertakesRideControllerBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.rider.RiderUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RiderUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerControllerBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.customerprofile.CustomerControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#CustomerControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerControllerBean4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.customerprofile.CustomerControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#CustomerControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RouterBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.routing.RouterBeanLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RouterBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerControllerBean5</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.customerprofile.CustomerControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#CustomerControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DriverUndertakesRideControllerBean5</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.driver.DriverUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#DriverUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RiderUndertakesRideControllerBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.rides.rider.RiderUndertakesRideControllerLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RiderUndertakesRideControllerBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RouterBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.routing.RouterBeanLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RouterBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RouteMatchingBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.matching.RouteMatchingBeanLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RouteMatchingBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RouteMatchingBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>de.fhg.fokus.openride.matching.RouteMatchingBeanLocal</local>
        <ejb-link>OpenRideServer-ejb.jar#RouteMatchingBean</ejb-link>
    </ejb-local-ref>
</web-app>
